name: Playwright Tests
on:
  push:
    branches:
      - main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: ./app1
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: yarn
    - name: Install dependencies app1
      run: cd app1 && yarn
    - name: Install dependencies tests
      run: cd app1/tests && yarn
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: Run Playwright tests
      run: yarn mock-server && cd app1 && yarn mock-server && sleep 10 && cd app1/tests && yarn test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
